:root {
    --p-text-color: #495057;
    --p-text-color-secondary: #6c757d;
    --p-border-radius: 6px;
    --p-primary-color: #3B82F6;
    --p-primary-color-text: #ffffff;

    --p-blue-50: #f5f9ff;
    --p-blue-100: #d0e1fd;
    --p-blue-200: #abc9fb;
    --p-blue-500: #3b82f6;

    --p-indigo-500: #6366f1;
    --p-green-500: #22c55e;
    --p-pink-500: #ec4899;

    --p-surface-card: #ffffff;
    --p-surface-hover: #f6f9fc;
    --p-surface-border: #dfe7ef;

    --p-gray-900: #212121;
    color-scheme: light;
    --p-main-400:#fffbf3;
}
body{
    margin: 0px;
}

.bg-main {
  background-color: var(--p-main-400);
}

.p-organizationchart-nodes td{
    padding: 0px;
    margin: 0px;
    width: 80px;
}
.text_be{
    font-size: 8px;
    white-space: nowrap;
}


.p-organizationchart .p-organizationchart-node-content {
    padding: 1.1rem !important;
}
.p-organizationchart .p-organizationchart-line-top {
    border-top: 4px solid #e5e7eb  !important;
}
.p-organizationchart .p-organizationchart-line-left {
    border-right: 4px solid #e5e7eb !important;
}
.header-giapha::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 17px;
    background-image: url(https://truong36.giaphadaiviet.vn/images/footer-bg-line.jpg);
    background-position: top center;
}